# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Eclipse / IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/
.project
.classpath
.settings/
bin/
build/

# VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivo de dados criado pelo programa
financas.csv
